%html
  %head
    %meta(charset="utf-8")
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>url("css/login.css")}
    %title Authentication Ax Agenda
  %body{:class => "controller-account action-login"}
    #wrapper
      #wrapper2
        #top-menu
        #header
        %div{:id => "main", :class => "nosidebar"}
          %div#sidebar
          %div#content
            %div#login-form
              = yield
          %div{:style => "clear:both;"}
        %footer

